@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter Render Mode @renderMode</h1>

@if (AppState != null)
{
    <p role="status">Current count: @AppState.Count</p>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}

@code {

    private int currentCount = 0;
    private string renderMode = "SSR";

    [CascadingParameter]
    public CascadingAppState AppState { get; set; } = null;

    private void IncrementCount()
    {
        if (AppState != null)
        { 
            AppState.Count++;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            renderMode = OperatingSystem.IsBrowser() ? "Wasm" : "Server";
            StateHasChanged();
        }
    }
}